/* override */
body {
	background: #22303B;
	font-family: "微软雅黑";
	color: white;
}
.navbar-inner.navbar-inner-padding {
	padding: 0 20px;
}

/*modifier*/
.invisible {
	visibility: hidden;
}
.text-align-center {
	text-align: center;
}
.opacity-low {
	opacity: 0.1;
}
.cpt-upload-leave {
	border: 3px dashed;
	border-color: white;
	border-color: rgba(255,255,255,.1);	
}
.cpt-upload-over {
	border-color: rgba(255,255,255,.8);	
}


/*module*/
.container {
	margin-top: 100px;
}
.cpt-file_name {
	margin: 30px 0 20px 0;
}
.cpt-upload {
	background: none;
	height: 200px;
	position: relative;
}
.cpt-progress {
	margin-top: 20px;
}
.cpt-upload-form {
	text-align: center;
}
.cpt-preview {
	position: absolute;
	left: 0;
	top: 0;
}